Repository lsendel/sass: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-type-check, frontend-prettier, docs-markdownlint, docs-link-check, docs-prettier

frontend-lint:
  name: Lint frontend code
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-type-check:
  name: Type check frontend code
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

frontend-prettier:
  name: Format frontend code with Prettier
  entry: bash -c 'cd frontend && npx prettier --write'
  language: system
  pass_filenames: true

docs-markdownlint:
  name: Lint markdown files
  entry: bash -c 'cd docs && npx markdownlint-cli'
  language: system
  pass_filenames: true

docs-link-check:
  name: Check documentation links
  entry: bash -c 'cd docs && npx markdown-link-check'
  language: system
  pass_filenames: true

docs-prettier:
  name: Format documentation with Prettier
  entry: bash -c 'cd docs && npx prettier --write'
  language: system
  pass_filenames: true

fix: Resolve backend API test failures and update GitHub workflows
  backend/src/test/java/com/platform/audit/api/SimpleAuditApiTest.java
  backend/src/test/java/com/platform/audit/api/TempAuditControllerTest.java
  backend/src/test/java/com/platform/config/TestBeanConfiguration.java
Due: none

fix: Enable Spring Security in backend API tests with proper configuration
  backend/src/test/java/com/platform/audit/api/SimpleAuditApiTest.java
  backend/src/test/java/com/platform/audit/api/TempAuditControllerTest.java
  backend/src/test/java/com/platform/config/TestBeanConfiguration.java
Due: none

test: Improve test configuration and clean up test infrastructure
  backend/src/test/java/com/platform/audit/api/AuditExportContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditExportDownloadContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditExportStatusContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditLogDetailContractTest.java
  backend/src/test/java/com/platform/audit/api/TestConfig.java
  backend/src/test/resources/application-test-slice.yml
  backend/src/test/resources/application-test.yml
Due: none

fix: Resolve workflow and Java code quality issues
  .github/workflows/backend-ci.yml
  .github/workflows/cd-deploy.yml
  .github/workflows/frontend-api-tests.yml
  .github/workflows/security-scans.yml
  backend/src/main/java/com/platform/audit/api/AuditLogViewController.java
  backend/src/test/java/com/platform/audit/api/AuditExportContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditExportStatusContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditLogDetailContractTest.java
  backend/src/test/java/com/platform/config/AuditTestConfiguration.java
Due: none

feat: Phase 2 - Resolve Critical Technical Debt
  PHASE2_COMPLETE.md
  QUICK-REFERENCE.md
  README-SETUP.md
  TECHNICAL_DEBT_ANALYSIS.md
  backend/src/main/java/com/platform/audit/api/AuditLogViewController.java
  backend/src/main/java/com/platform/audit/internal/AuditLogPermissionService.java
  backend/src/main/java/com/platform/auth/api/dto/LoginRequest.java
  backend/src/main/java/com/platform/auth/internal/AuthenticationService.java
  backend/src/main/java/com/platform/auth/internal/OpaqueTokenService.java
  backend/src/main/java/com/platform/shared/security/SecurityUtils.java
  backend/src/main/java/com/platform/shared/security/UserPrincipal.java
  backend/src/test/java/com/platform/architecture/ArchitectureTest.java
  backend/src/test/java/com/platform/architecture/ModulithTest.java
  backend/src/test/java/com/platform/audit/api/AuditLogViewerIntegrationTest.java
  backend/src/test/java/com/platform/config/AuditTestConfiguration.java
  fix_indentation.sh
Due: none

security: Phase 3 - Security & Compliance Improvements
  .claude/settings.local.json
  HANDOFF-CHECKLIST.md
  SECURITY_ANALYSIS.md
  backend/src/main/java/com/platform/auth/internal/AuthenticationService.java
  backend/src/test/java/com/platform/audit/api/AuditLogViewerIntegrationTest.java
  backend/src/test/java/com/platform/config/AuditTestConfiguration.java
  backend/src/test/java/com/platform/config/BaseTestConfiguration.java
  backend/src/test/java/com/platform/config/ContractTestConfiguration.java
  backend/src/test/java/com/platform/config/TestBeanConfiguration.java
  backend/src/test/java/com/platform/config/TestSecurityConfig.java
  backend/src/test/java/com/platform/config/WithMockUserPrincipal.java
  backend/src/test/java/com/platform/config/WithMockUserPrincipalSecurityContextFactory.java
  frontend/package-lock.json
  frontend/src/hooks/useFieldValidationState.ts
  frontend/src/hooks/useFormDraft.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

docs: Add Phase 3 completion summary
  PHASE3_COMPLETE.md
Due: none

fix: Resolve GitHub Actions workflow failures and add deployment scripts
  .github/workflows/frontend-ci.yml
  .github/workflows/security-scans.yml
  frontend/package.json
  scripts/monitor-deployment.sh
  scripts/pre-deployment-checks.sh
  scripts/smoke-tests.sh
  scripts/verify-deployment.sh
Due: frontend-prettier

fix: Resolve Java compilation errors in audit module
  backend/src/main/java/com/platform/audit/api/AuditControllerHelper.java
  backend/src/main/java/com/platform/audit/api/AuditLogViewController.java
  backend/src/main/java/com/platform/audit/api/dto/ValidatedRequest.java
  backend/src/main/java/com/platform/audit/internal/AuditLogExportService.java
  backend/src/main/java/com/platform/audit/internal/AuditLogPermissionService.java
  backend/src/main/java/com/platform/audit/internal/AuditRequestValidator.java
Due: none

fix: Remove all mocks and achieve clean compilation (0 errors, 0 warnings)
  backend/src/test/java/com/platform/audit/api/AuditExportDownloadContractTest.java
  backend/src/test/java/com/platform/audit/api/AuditExportStatusContractTest.java
  backend/src/test/java/com/platform/audit/api/SimpleAuditApiTest.java
  backend/src/test/java/com/platform/config/AuditTestConfiguration.java
  backend/src/test/java/com/platform/config/TestBeanConfiguration.java
Due: none

docs: Add VS Code Java Language Server fix and comprehensive guides
  BUILD_SNAPSHOT.md
  VSCODE_GUIDE.md
  scripts/fix-vscode-java.sh
  scripts/verify-build-status.sh
Due: none

feat: Add ACIS (Automated Continuous Improvement System) with Claude AI peer review
  .claude/settings.local.json
  .env.example
  .github/workflows/acis-automated.yml
  ACIS_CLAUDE_AI_INTEGRATION.md
  ACIS_COMPLETE_SYSTEM_SUMMARY.md
  ACIS_FINAL_IMPLEMENTATION.md
  ACIS_GIT_HOOKS_INTEGRATION.md
  ACIS_HOW_TO_USE.md
  ACIS_IMPLEMENTATION_COMPLETE.md
  AUTOMATED_CONTINUOUS_IMPROVEMENT_SYSTEM.md
  Makefile
  SNAPSHOT_2025-10-02.md
  scripts/acis/acis-main.sh
  scripts/acis/claude-ai/claude-reviewer.sh
  scripts/acis/claude-ai/prompts/improvement-review.txt
  scripts/acis/config/acis-config.yml
  scripts/acis/git-hooks/install-hooks.sh
  scripts/acis/git-hooks/pre-commit
  scripts/acis/git-hooks/pre-push
  scripts/acis/git-hooks/smart-detector.sh
  scripts/acis/utils/config-reader.sh
  scripts/acis/utils/git-utils.sh
  scripts/acis/utils/logger.sh
  scripts/acis/utils/platform-utils.sh
Due: none

fix: Make smart-detector.sh compatible with bash 3.x (macOS)
  scripts/acis/git-hooks/smart-detector.sh
Due: none

feat: Add Slack integration with workflow fixes and comprehensive documentation
  .github/workflows/cd-deploy.yml
  .github/workflows/performance.yml
  docs/integrations/README.md
  docs/integrations/github-secrets-management.md
  docs/integrations/slack-setup.md
  scripts/setup-slack-integration.sh
Due: docs-markdownlint, docs-prettier

fix: Correct GitHub Actions workflow Slack notification conditionals
  .github/workflows/cd-deploy.yml
  .github/workflows/performance.yml
Due: none

chore: Add missing frontend dependencies
  frontend/package-lock.json
  frontend/package.json
Due: frontend-prettier

fix(frontend): Add error handling utilities and fix LoadingSpinner imports
  frontend/scripts/fix-rtk-errors.sh
  frontend/scripts/fix-typescript-errors.sh
  frontend/src/components/task/KanbanBoard.tsx
  frontend/src/components/task/TaskDetailModal.tsx
  frontend/src/lib/api/errorHandling.ts
  frontend/src/pages/projects/ProjectPage.tsx
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(frontend): Fix MSW request body type handling in API tests
  frontend/src/test/api/organizationApi.test.ts
  frontend/src/test/api/projectManagementApi.test.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(frontend): Resolve all TypeScript compilation errors (50 → 0)
  frontend/src/components/layouts/AccessibleDashboardLayout.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/components/project/CreateProjectModal.tsx
  frontend/src/components/project/ProjectList.tsx
  frontend/src/components/task/CreateTaskModal.tsx
  frontend/src/components/task/KanbanBoard.tsx
  frontend/src/components/task/TaskCard.tsx
  frontend/src/components/task/TaskDetailModal.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Button.test.tsx
  frontend/src/components/ui/TextArea.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/hooks/useAccessibility.tsx
  frontend/src/lib/api/errorHandling.ts
  frontend/src/pages/projects/ProjectPage.tsx
  frontend/src/pages/settings/SettingsPage.tsx
  frontend/src/services/serviceWorker.ts
  frontend/src/services/websocketService.ts
  frontend/src/store/api/projectManagementApi.ts
  frontend/src/test/api/auditApi.test.ts
  frontend/src/test/api/authApi.test.ts
  frontend/src/test/api/organizationApi.test.ts
  frontend/src/test/api/projectManagementApi.test.ts
  frontend/src/test/api/subscriptionApi.test.ts
  frontend/src/test/api/userApi.test.ts
  frontend/src/test/reporters/evidenceReporter.ts
  frontend/src/test/utils/testStore.ts
  frontend/src/types/project.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

test: Achieve 100% test pass rate for backend integration tests
  backend/src/test/java/com/platform/audit/api/AuditLogViewerIntegrationTest.java
  backend/src/test/java/com/platform/audit/api/AuditLogViewerTestContainerTest.java
  backend/src/test/java/com/platform/auth/internal/AuthenticationServiceIntegrationTest.java
  backend/src/test/java/com/platform/auth/internal/OpaqueTokenAuthenticationFilterIntegrationTest.java
  backend/src/test/java/com/platform/auth/internal/SecurityConfigIntegrationTest.java
  backend/src/test/java/com/platform/integration/DatabaseConnectivityTest.java
  backend/src/test/resources/application-integration-test.yml
Due: none

chore(deps): Update Python dev dependencies to latest secure versions
  requirements-dev.txt
Due: none

fix: Replace deprecated @MockBean with @MockitoBean
  backend/src/test/java/com/platform/config/ContractTestConfiguration.java
Due: none

fix(eslint): run auto-fix for formatting issues
  frontend/ESLINT-FIX-IMMEDIATE-ACTIONS.md
  frontend/ESLINT-FIX-PATTERNS.md
  frontend/ESLINT-FIX-PLAN.md
  frontend/ESLINT-FIX-README.md
  frontend/scripts/track-eslint-progress.sh
  frontend/src/components/task/KanbanBoard.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/hooks/useFormDraft.ts
  frontend/src/hooks/useRealTimeCollaboration.ts
  frontend/src/test/utils/testStore.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

feat(types): add comprehensive type guard utilities
  frontend/src/types/typeGuards.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

docs: add comprehensive ESLint fix session summary
  frontend/SESSION-SUMMARY.md
Due: frontend-prettier

fix(tests): update test configurations and type guards
  .claude/settings.local.json
  .github/workflows/ci-main.yml
  frontend/src/test/api/authApi.test.ts
  frontend/src/test/api/organizationApi.test.ts
  frontend/src/test/api/projectManagementApi.test.ts
  frontend/src/types/typeGuards.ts
  frontend/tests/e2e/auth-flow-debug.spec.ts
  frontend/tests/e2e/utils/global-setup.ts
  frontend/tests/e2e/utils/global-teardown.ts
  frontend/viewport-test.js
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(docker): remove non-existent settings.gradle from Dockerfile
  backend/Dockerfile
Due: none

fix(ci): use lowercase repository name for GHCR
  .github/workflows/ci-main.yml
Due: none

fix(ci): correct secrets syntax in security-scans workflow
  .github/workflows/security-scans.yml
Due: none

fix(ci): resolve database performance test failures
  .github/workflows/performance-monitoring.yml
Due: none

fix(ci): resolve all GitHub Actions workflow failures
  .github/workflows/performance-monitoring.yml
  frontend/src/test/api/organizationApi.test.ts
  frontend/src/types/typeGuards.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(lint): resolve ESLint errors to allow CI to pass
  frontend/eslint.config.js
  frontend/src/components/layouts/AccessibleDashboardLayout.tsx
  frontend/src/components/layouts/DashboardLayout.tsx
  frontend/src/types/typeGuards.ts
Due: frontend-lint, frontend-type-check, frontend-prettier

fix(lint): add no-unnecessary-type-assertion to warnings
  frontend/eslint.config.js
Due: frontend-lint, frontend-prettier

Path conditions:
  frontend-lint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  frontend-prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|scss|md)$
  docs-markdownlint: any of: ^docs/.*\.md$
  docs-link-check: any of: ^docs/docs/.*\.md$
  docs-prettier: any of: ^docs/.*\.(md|js|ts|json)$
